.header-block {
    position: relative;
    background-color: #000;

    &__content {
        display: flex;
        align-items: center;
        height: 45px;
    }

    h1, h2 {
        display: inline-block;
        margin: 0;
        font-size: 15px;
        line-height: 15px;
        color: #fff;
    }

    h2 {
        margin-left: 20px;
        color: #949494
    }
}