.post-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;

    h2 {
        margin: 0;
    }

    p {
        margin: 0;

        a {
            margin-left: 10px;
        }
    }
}